In [17]:
"""
Primero: unir los 6 archivos de weather en uno solo
"""
%pip install numpy
%pip install pandas


import pandas as pd
import numpy as np
from glob import glob

#pd.read_csv('weather01.txt')

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [18]:
weather_files = sorted(glob('weather*.txt'))
weather_files #invoca los nombres de los archivos ordenados con sorted, éste es solo para visualizar el comportamiento

#separar las columnas de cada archivo

# Leer el archivo .txt en un DataFrame
df = pd.read_csv('weather01.txt', header=None)  # 'header=None' ya que no hay encabezado

# Separar los datos en 7 columnas usando el delimitador adecuado
df_separado = df[0].str.split(r'\s+', expand=True)  # Aquí '\s+' representa uno o más espacios

# Asignar los nombres de las columnas
df_separado.columns = ['indice','X', 'year', 'month', 'measure', 'X1', 'X2']

# Guardar el nuevo DataFrame en un archivo de salida
df_separado.to_csv('weather01_separado.txt', index=False, sep='\t')

# Imprimir el DataFrame resultante
print(df_separado)

#eliminar primera columna de cada archivo
# Leer el archivo .txt en un DataFrame
df = pd.read_csv('weather01_separado.txt', delimiter='\t')  # Usa el delimitador adecuado (tabulador o espacio)

# Eliminar la primera columna
df = df.iloc[:, 2:]

# Eliminar la primera fila ya que es solo para los nombres de las columnas
df = df.drop(index=0)

# Guardar el DataFrame sin la primera columna en un nuevo archivo
df.to_csv('newweather01.txt', index=False)

pd.read_csv('newweather01.txt')

    indice    X  year  month            measure    X1    X2
0             X  year  month            measure    X1    X2
1        1    1  2014     12   Max.TemperatureF    64    42
2        2    2  2014     12  Mean.TemperatureF    52    38
3        3    3  2014     12   Min.TemperatureF    39    33
4        4    4  2014     12     Max.Dew.PointF    46    40
..     ...  ...   ...    ...                ...   ...   ...
282    282  282  2015     12  Max.Gust.SpeedMPH    17  <NA>
283    283  283  2015     12    PrecipitationIn  0.14  <NA>
284    284  284  2015     12         CloudCover     7  <NA>
285    285  285  2015     12             Events  Rain  <NA>
286    286  286  2015     12     WindDirDegrees   109  <NA>

[287 rows x 7 columns]

     year  month            measure    X1   X2
0    2014     12   Max.TemperatureF    64   42
1    2014     12  Mean.TemperatureF    52   38
2    2014     12   Min.TemperatureF    39   33
3    2014     12     Max.Dew.PointF    46   40
4    2014     12     MeanDew.PointF    40   27
..    ...    ...                ...   ...  ...
281  2015     12  Max.Gust.SpeedMPH    17  NaN
282  2015     12    PrecipitationIn  0.14  NaN
283  2015     12         CloudCover     7  NaN
284  2015     12             Events  Rain  NaN
285  2015     12     WindDirDegrees   109  NaN

[286 rows x 5 columns]

In [19]:
#hacer lo mismo con los 6 archivos: 2
df = pd.read_csv('weather02.txt', header=None)
df_separado = df[0].str.split(r'\s+', expand=True)
df_separado.columns = ['indice','X3', 'X4', 'X5', 'X6', 'X7']
df_separado.to_csv('weather02_separado.txt', index=False, sep='\t')
print(df_separado)
df = pd.read_csv('weather02_separado.txt', delimiter='\t')
df = df.iloc[:, 1:]
df = df.drop(index=0)
df.to_csv('newweather02.txt', index=False)
pd.read_csv('newweather02.txt')

#hacer lo mismo con los 6 archivos: 3
df = pd.read_csv('weather03.txt', header=None)
df_separado = df[0].str.split(r'\s+', expand=True)
df_separado.columns = ['indice','X8', 'X9', 'X10', 'X11', 'X12', 'X13','X14']
df_separado.to_csv('weather03_separado.txt', index=False, sep='\t')
print(df_separado)
df = pd.read_csv('weather03_separado.txt', delimiter='\t')
df = df.iloc[:, 1:]
df = df.drop(index=0)
df.to_csv('newweather03.txt', index=False)
pd.read_csv('newweather03.txt')

#hacer lo mismo con los 6 archivos: 4
df = pd.read_csv('weather04.txt', header=None)
df_separado = df[0].str.split(r'\s+', expand=True)
df_separado.columns = ['indice','X15', 'X16', 'X17', 'X18', 'X19', 'X20']
df_separado.to_csv('weather04_separado.txt', index=False, sep='\t')
print(df_separado)
df = pd.read_csv('weather04_separado.txt', delimiter='\t')
df = df.iloc[:, 1:]
df = df.drop(index=0)
df.to_csv('newweather04.txt', index=False)
pd.read_csv('newweather04.txt')                                                  #debería hacer un ciclo con esto? r. después busca

#hacer lo mismo con los 6 archivos: 5
df = pd.read_csv('weather05.txt', header=None)
df_separado = df[0].str.split(r'\s+', expand=True)
df_separado.columns = ['indice','X21', 'X22', 'X23', 'X24', 'X25', 'X26', 'X27']
df_separado.to_csv('weather05_separado.txt', index=False, sep='\t')
print(df_separado)
df = pd.read_csv('weather05_separado.txt', delimiter='\t')
df = df.iloc[:, 1:]
df = df.drop(index=0)
df.to_csv('newweather05.txt', index=False)
pd.read_csv('newweather05.txt')

#hacer lo mismo con los 6 archivos: 6
df = pd.read_csv('weather06.txt', header=None)
df_separado = df[0].str.split(r'\s+', expand=True)
df_separado.columns = ['indice','X28', 'X29', 'X30', 'X31']
df_separado.to_csv('weather06_separado.txt', index=False, sep='\t')
print(df_separado)
df = pd.read_csv('weather06_separado.txt', delimiter='\t')
df = df.iloc[:, 1:]
df = df.drop(index=0)
df.to_csv('newweather06.txt', index=False)
pd.read_csv('newweather06.txt')

    indice    X3    X4    X5    X6    X7
0             X3    X4    X5    X6    X7
1        1    51    43    42    45    38
2        2    44    37    34    42    30
3        3    37    30    26    38    21
4        4    49    24    37    45    36
..     ...   ...   ...   ...   ...   ...
282    282  <NA>  <NA>  <NA>  <NA>  <NA>
283    283  <NA>  <NA>  <NA>  <NA>  <NA>
284    284  <NA>  <NA>  <NA>  <NA>  <NA>
285    285  <NA>  <NA>  <NA>  <NA>  <NA>
286    286  <NA>  <NA>  <NA>  <NA>  <NA>

[287 rows x 6 columns]
    indice    X8    X9   X10   X11   X12   X13   X14
0             X8    X9   X10   X11   X12   X13   X14
1        1    29    49    48    39    39    42    45
2        2    24    39    43    36    35    37    39
3        3    18    29    38    32    31    32    33
4        4    28    49    45    37    28    28    29
..     ...   ...   ...   ...   ...   ...   ...   ...
282    282  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
283    283  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
284    284  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
285    285  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
286    286  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>

[287 rows x 8 columns]
    indice   X15   X16   X17   X18   X19   X20
0            X15   X16   X17   X18   X19   X20
1        1    42    44    49    44    37    36
2        2    37    40    45    40    33    32
3        3    32    35    41    36    29    27
4        4    33    42    46    34    25    30
..     ...   ...   ...   ...   ...   ...   ...
282    282  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
283    283  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
284    284  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
285    285  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
286    286  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>

[287 rows x 7 columns]
    indice   X21   X22   X23   X24   X25   X26   X27
0            X21   X22   X23   X24   X25   X26   X27
1        1    36    44    47    46    59    50    52
2        2    33    39    45    44    52    44    45
3        3    30    33    42    41    44    37    38
4        4    30    39    45    46    58    31    34
..     ...   ...   ...   ...   ...   ...   ...   ...
282    282  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
283    283  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
284    284  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
285    285  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>
286    286  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>

[287 rows x 8 columns]
    indice   X28   X29   X30   X31
0            X28   X29   X30   X31
1        1    52    41    30    30
2        2    46    36    26    25
3        3    40    30    22    20
4        4    42    26    10     8
..     ...   ...   ...   ...   ...
282    282  <NA>  <NA>  <NA>  <NA>
283    283  <NA>  <NA>  <NA>  <NA>
284    284  <NA>  <NA>  <NA>  <NA>
285    285  <NA>  <NA>  <NA>  <NA>
286    286  <NA>  <NA>  <NA>  <NA>

[287 rows x 5 columns]

     X28  X29  X30   X31
0     52   41   30  30.0
1     46   36   26  25.0
2     40   30   22  20.0
3     42   26   10   8.0
4     35   20    4   5.0
..   ...  ...  ...   ...
281  NaN  NaN  NaN   NaN
282  NaN  NaN  NaN   NaN
283  NaN  NaN  NaN   NaN
284  NaN  NaN  NaN   NaN
285  NaN  NaN  NaN   NaN

[286 rows x 4 columns]

In [25]:
weather_files = sorted(glob('newweather*.txt')) #se ordenan primero
#guardar la concatenación para manipularlo en un solo archivo df
newdf_concatenado = pd.concat((pd.read_csv(file)for file in weather_files), axis='columns').head(286) #la funcion de pandas concatena,en columnas,los archivos en la funcion weather_file después de ordenarla y leerla
nombre_archivo = 'newweather_concatenado.txt'
newdf_concatenado.to_csv(nombre_archivo, index=False)
newdf_concatenado #impresión como variable
pd.read_csv('newweather_concatenado.txt')

,year,month,measure,X1,X2,X3,X4,X5,X6,X7,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
0,2014,12,Max.TemperatureF,64,42,51,43,42,45,38,...,44,47,46,59,50,52.0,52,41,30,30.0
1,2014,12,Mean.TemperatureF,52,38,44,37,34,42,30,...,39,45,44,52,44,45.0,46,36,26,25.0
2,2014,12,Min.TemperatureF,39,33,37,30,26,38,21,...,33,42,41,44,37,38.0,40,30,22,20.0
3,2014,12,Max.Dew.PointF,46,40,49,24,37,45,36,...,39,45,46,58,31,34.0,42,26,10,8.0
4,2014,12,MeanDew.PointF,40,27,42,21,25,40,20,...,34,42,44,43,29,31.0,35,20,4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,2015,12,Max.Gust.SpeedMPH,17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,2015,12,PrecipitationIn,0.14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,2015,12,CloudCover,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,2015,12,Events,Rain,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,2015,12,WindDirDegrees,109,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# prompt: genera un código que enliste cada valor diferente de la columna measure del newdf_concatenado

import pandas as pd

# Lee el archivo concatenado
newdf_concatenado = pd.read_csv('newweather_concatenado.txt')

# Obtiene los valores únicos de la columna 'measure'
valores_unicos_measure = newdf_concatenado['measure'].unique()

# Imprime los valores únicos
valores_unicos_measure

array(['Max.TemperatureF', 'Mean.TemperatureF', 'Min.TemperatureF',
       'Max.Dew.PointF', 'MeanDew.PointF', 'Min.DewpointF',
       'Max.Humidity', 'Mean.Humidity', 'Min.Humidity',
       'Max.Sea.Level.PressureIn', 'Mean.Sea.Level.PressureIn',
       'Min.Sea.Level.PressureIn', 'Max.VisibilityMiles',
       'Mean.VisibilityMiles', 'Min.VisibilityMiles', 'Max.Wind.SpeedMPH',
       'Mean.Wind.SpeedMPH', 'Max.Gust.SpeedMPH', 'PrecipitationIn',
       'CloudCover', 'Events', 'WindDirDegrees'], dtype=object)

In [50]:
#valores diferentes de la columna measure del newdf_concatenado

import pandas as pd

# Lee el archivo concatenado
newdf_concatenado = pd.read_csv('newweather_concatenado.txt')

# Cuenta las ocurrencias de cada valor único en la columna 'measure'

value_counts = newdf_concatenado['measure'].value_counts()

# Imprime los resultados
value_counts

measure
Max.TemperatureF             13
Mean.TemperatureF            13
Events                       13
CloudCover                   13
PrecipitationIn              13
Max.Gust.SpeedMPH            13
Mean.Wind.SpeedMPH           13
Max.Wind.SpeedMPH            13
Min.VisibilityMiles          13
Mean.VisibilityMiles         13
Max.VisibilityMiles          13
Min.Sea.Level.PressureIn     13
Mean.Sea.Level.PressureIn    13
Max.Sea.Level.PressureIn     13
Min.Humidity                 13
Mean.Humidity                13
Max.Humidity                 13
Min.DewpointF                13
MeanDew.PointF               13
Max.Dew.PointF               13
Min.TemperatureF             13
WindDirDegrees               13
Name: count, dtype: int64

In [29]:
newdf_concatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 34 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     286 non-null    int64
 1   month    286 non-null    int64
 2   measure  286 non-null    object
 3   X1       281 non-null    object
 4   X2       256 non-null    object
 5   X3       261 non-null    object
 6   X4       259 non-null    object
 7   X5       257 non-null    object
 8   X6       254 non-null    object
 9   X7       252 non-null    object
 10  X8       263 non-null    object
 11  X9       262 non-null    object
 12  X10      260 non-null    object
 13  X11      259 non-null    object
 14  X12      253 non-null    object
 15  X13      253 non-null    object
 16  X14      252 non-null    object
 17  X15      263 non-null    object
 18  X16      262 non-null    object
 19  X17      256 non-null    object
 20  X18      253 non-null    object
 21  X19      253 non-null    object
 22  X20      252 non-null    object
 23  X21      263 non-null    object
 24  X22      263 non-null    object
 25  X23      261 non-null    object
 26  X24      259 non-null    object
 27  X25      256 non-null    object
 28  X26      252 non-null    object
 29  X27      252 non-null    float64
 30  X28      262 non-null    object
 31  X29      236 non-null    object
 32  X30      233 non-null    object
 33  X31      147 non-null    float64
dtypes: float64(2), int64(2), object(30)
memory usage: 76.1+ KB

In [30]:
#máximo, mínimo y media de los valores por fila desde X1 a X17

import pandas as pd

# Lee el dataframe concatenado
df = pd.read_csv('newweather_concatenado.txt')

# Selecciona las columnas X1 a X31
df_subset = df[['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17','X18','X19','X20','X21','X22','X23','X24','X25','X26','X27','X28','X29','X30','X31']]

# Convierte las columnas a numéricas, manejando errores
for col in df_subset.columns:
    df_subset[col] = pd.to_numeric(df_subset[col], errors='coerce')

# Calcula el máximo, mínimo y la media por fila
df_subset['max'] = df_subset.max(axis=1)
df_subset['min'] = df_subset.min(axis=1)
df_subset['mean'] = df_subset.mean(axis=1)

# Imprime el resultado
print(df_subset[['max', 'min', 'mean']])

        max     min        mean
0     64.00   29.00   43.878788
1     52.00   24.00   38.424242
2     44.00   18.00   32.606061
3     58.00    8.00   35.333333
4     44.00    4.00   29.272727
..      ...     ...         ...
281   17.00   17.00   17.000000
282    0.14    0.14    0.140000
283    7.00    7.00    7.000000
284     NaN     NaN         NaN
285  109.00  109.00  109.000000

[286 rows x 3 columns]

<ipython-input-30-728f8f22bb81>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset[col] = pd.to_numeric(df_subset[col], errors='coerce')
<ipython-input-30-728f8f22bb81>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['max'] = df_subset.max(axis=1)
<ipython-input-30-728f8f22bb81>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['min'] = df_subset.min(axis=1)